<section class="hero is-white is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div>
        <img src="../../assets/img/listoRH.png" size alt="logo">
      </div>
      <p>
        Fácil, prático e pronto. Pra você sair ganhando.
      </p>      

      <div class="columns">
        <div class="column is-half is-offset-one-quarter"> 
          <br>

          <form>
            <p class="control" id="email">
              <input class="input is-large is-success" type="e-mail" placeholder="E-mail" >
            </p>
            <hr>
            <p>
              <button (click)="submit()" class="button is-success is-outlined is-large is-fullwidth">ENTRAR</button>
              <br>
            </p>          
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
