<nav *ngIf="isLogged" class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="../../../assets/img/logoNavBar.png" width="112" height="28">
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a routerLink="home" class="navbar-item">
          Início
        </a>
  
        <a routerLink="perfil-detail" class="navbar-item">
          Perfil
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a routerLink="recursos" class="navbar-link">
            Recursos
          </a>
  
          <div class="navbar-dropdown">
            <a routerLink="vagas" class="navbar-item">
              Vagas
            </a>
            <a routerLink="candidatos" class="navbar-item">
              Candidatos
            </a>
            <a routerLink="historico" class="navbar-item">
              Histórico
            </a>
            <hr class="navbar-divider">
            <a routerLink="usuarios" class="navbar-item">
              Usuários
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a (click)="signUp()"class="button is-dark">
              <strong>Sair</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
